{{#if readonly}}
  {{#if attachments}}
    You have provided the following attachments:
    <ul class='bullets'>
      {{#each attachments as |attachment|}}
        <li>{{or attachment.name '-'}}</li>
      {{/each}}
    </ul>
  {{else}}
    You have chosen not to provide any additional attachments with this submission
  {{/if}}

  {{nop-errors errors=errors}}
{{else}}
  {{#each attachments as |document index|}}
    {{#nop-list-item}}
      {{nop-attach-file document=document showRemove=true removeAttachment=(action 'removeAttachment')}}
    {{/nop-list-item}}
  {{/each}}

  {{nop-add-another action='addAttachment' text='Add attachment' class='add-attachment'}}
{{/if}}
