{{#if readonly}}
  {{nop-text-field class='full-address'
                   label=title value=fullAddress
                   errors=address.errors
                   errorKey='fullAddress'}}
{{else}}
  <section>
    {{#if title}}
      {{nop-section-header title=title hint=hint required=required}}
    {{/if}}
    {{nop-input class='address'
                label=addressLabel
                name='address'
                value=address.street
                required=true
                errors=address.errors
                errorKey='street'}}
    {{nop-input class='locality'
                label='Suburb / Locality'
                name='locality'
                value=address.locality
                required=true
                errors=address.errors
                errorKey='locality'}}
    {{nop-input class='state'
                label='State / Territory'
                name='state'
                value=address.state
                required=true
                errors=address.errors
                errorKey='state'}}
    {{nop-input class='postcode'
                label='Postcode'
                name='postcode'
                value=address.postcode
                required=true
                errors=address.errors
                errorKey='postcode'}}
    {{nop-select class='country'
                 label='Country'
                 name='country'
                 value=address.country
                 content=countryOptions
                 optionValuePath='id'
                 required=true
                 errors=address.country
                 errorKey='country'}}
  </section>
{{/if}}
