{{#if readonly}}
  <h5>Financial assurance declaration</h5>
  {{#if noPreviousDeclaration}}
    {{#if assurance.includeDeclaration}}
      {{#if assurance.faDeclaration}}
        {{nop-document document=assurance.faDeclaration}}
      {{/if}}
    {{else}}
      You have declined to provide a financial assurance declaration with this submission
    {{/if}}
  {{else}}
    You have indicated that there is an existing financial assurance declaration for these titles
  {{/if}}

  <h5>Financial assurance confirmation</h5>
  {{#if assurance.includeConfirmation}}
    {{#if assurance.faConfirmation}}
      {{nop-document document=assurance.faConfirmation}}
    {{/if}}
  {{else}}
    You have declined to provide a financial assurance confirmation with this submission
  {{/if}}
{{else}}
  <!-- Financial assurance not required at this time --> 
  <!-- Please note that should your title(s) be granted during the assessment of this environment plan you must provide financial assurance to NOPSEMA before we can accept the EP -->
  {{nop-section-header title='Financial assurance declaration'}}
  {{nop-radio-group class='already-submitted'
                    label='Have you previously submitted a financial assurance declaration for these titles?'
                    value=assurance.previousDeclaration
                    options=trueOrFalse
                    required=true
                    errors=assurance.errors
                    errorKey='previousDeclaration'}}
  {{#if noPreviousDeclaration}}
    {{nop-radio-group class='include-fa' 
                      label='Do you want to submit a financial assurance declaration with this submission?'
                      value=assurance.includeDeclaration
                      options=trueOrFalse
                      required=true
                      errors=assurance.errors
                      errorKey='includeDeclaration'}}
    {{#if assurance.includeDeclaration}}
      {{nop-attach-document document=assurance.faDeclaration
                            instruction="Drop financial assurance declaration here or click to upload"
                            errors=assurance.errors
                            errorKey='faDeclaration'
                            required=true}}
    {{/if}}
    {{#if excludeDeclaration}}
      <p class="hint">You can submit your financial assurance declaration during the assessment period via NOPSEMA Online Submissions</p>
    {{/if}}
  {{/if}}
  {{#if assurance.includeDeclaration}}
    {{nop-section-header title='Financial assurance confirmation'}}
    {{nop-radio-group class='include-fa' 
                      label='Do you want to submit a financial assurance confirmation with this submission?'
                      value=assurance.includeConfirmation
                      required=true
                      options=trueOrFalse
                      errors=assurance.errors
                      errorKey='includeConfirmation'}}

    {{#if assurance.includeConfirmation}}
      {{nop-attach-document document=assurance.faConfirmation
                            instruction="Drop financial assurance confirmation here or click to upload"
                            errors=assurance.errors
                            errorKey='faConfirmation'
                            required=true}}
    {{/if}}
    {{#if excludeConfirmation}}
      <p class="hint">You can submit your financial assurance confirmation during the assessment period via NOPSEMA Online Submissions</p>
    {{/if}}
  {{/if}}
{{/if}}
