{{nop-label forElementId=inputId
            label=label
            required=required
            hint=hint
            errorMessage=errorMessage}}
<div class="highlight-container">
  <textarea id={{inputId}} rows={{rows}} required={{required}} value={{value}} aria-label={{ariaLabel}} />
  <span class="highlight" />
</div>
<div class="error-message">
  {{#if nonRequiredErrors}}
    {{ nonRequiredErrors }}
  {{/if}}
</div>
