{{#if readonly}}
  {{nop-text-field class='full-address' label=title value=fullAddress}}
{{else}}
  <section>
    {{nop-section-header title=title hint=hint required=required}}
    {{nop-input class='address'
                label=addressLabel
                name='address'
                value=address.street
                errors=address.errors
                errorKey='street'
                }}
    {{nop-input class='locality'
                label='Suburb / Locality'
                name='locality'
                value=address.locality
                errors=address.errors
                errorKey='locality'}}
    {{nop-input class='state'
                label='State / Territory'
                name='state'
                value=address.state
                errors=address.errors
                errorKey='state'}}
    {{nop-input class='postcode'
                label='Postcode'
                name='postcode'
                value=address.postcode
                errors=address.errors
                errorKey='postcode'}}
    {{nop-select class='country'
                 label='Country'
                 name='country'
                 value=address.country
                 content=countryOptions
                 optionValuePath='id'
                 errors=address.country
                 errorKey='country'}}
  </section>
{{/if}}
