<div class='upload-section'>
  <button class='file-picker'>
    <div class='instruction'>{{instruction}}</div>
  </button>
  <input type='file' class='file-input' />
  {{#if hint}}
    <div class='hint'>{{hint}}</div>
  {{/if}}
  {{#if errorMessage}}
  <div class="errors">{{errorMessage}}</div>
  {{/if}}
  {{#if showProgress}}
  <div class='progress'>
    <div class="progress-inner {{if complete 'complete'}}" {{bind-attr style=(concat 'width:' progress '%')}}></div>
  </div>
  {{/if}}
  {{#if hasPreview}}
  <div class="preview-container {{if showPreview 'visible'}}"></div>
  {{/if}}
</div>
{{#if readonly}}
  <div class='initialising-mask'>
    <h4 class='initialising-message'>{{initMessage}}</h4>
  </div>
{{/if}}
