<button class='file-picker'>
  <div class='instruction'>
    {{fa-icon 'cloud-upload'}}<br/>
    {{#if message}}
      {{message}}
    {{else}}
      {{yield}}
    {{/if}}
  </div>
  {{#if showProgress}}
  <div class='progress'>
    <div class="progress-inner" style={{progressStyle}}></div>
  </div>
  {{/if}}
</button>
<input type='file' class='file-input' />
