{{#if disabled}}
  <h3>Titleholder Details</h3>
  <h4>Primary Titleholder</h4>
  {{nop-titleholder-details titleholder=submission.titleholderDetails disabled=true}}

  {{#if submission.isEligibleVoluntaryAction}}
    You have indicated this is an Eligible Voluntary Action
  {{else}}
    <h4>Other Titleholders</h4>
    {{#each submission.otherTitleholders as |other index|}}
      {{nop-titleholder-details titleholder=other noInfo=true disabled=true}}
    {{/each}}
  {{/if}}
{{else}}
  {{nop-titleholder-details titleholder=submission.titleholderDetails}}
{{/if}}
