{{#if readonly}}
  {{#if attachments}}
    You have provided the following attachments:
    <ul class='bullets'>
      {{#each attachments as |attachment|}}
        <li>{{or attachment.name '-'}}</li>
      {{/each}}
    </ul>
  {{else}}
    You have chosen not to provide any additional attachments with this submission
  {{/if}}

  {{nop-errors errors=errors}}
{{else}}
  <ul>
  {{#each attachments as |document index|}}
    <li class="attachment {{concat 'attachment' index}}">
      <h5>Attachment {{counter index}}</h5>
      {{nop-attach-file document=document}}
    </li>
  {{/each}}
</ul>

  {{nop-add-another action='addAttachment' text='Add attachment' class='add-attachment'}}
{{/if}}
