{{#if canRemove}}
  {{nop-remove action='removeDocument'}}
{{/if}}
{{#unless hasPreview}}
  <figure class='document-icon'>
    <figcaption class='document-extension'>{{document.extension}}</figcaption>
    <div class='document-size'>{{document.sizeFormatted}}</div>
  </figure>
{{/unless}}
<div class='document-details'>
  {{#if hasPreview}}
    <img class="image-preview" src="{{document.preview}}"/>
  {{/if}}
  <div class='document-name'>{{document.name}}</div>
  {{yield}}
</div>
