{{#if readonly}}
  <div class="label">Environment plan</div>
  {{#if documents.environmentPlan}}
    {{nop-document document=documents.environmentPlan}}
  {{else}}
    <div class='error-message'>Required</div>
  {{/if}}

  <div class="label">Supporting documentation</div>
  {{#if documents.attachments.length}}
    {{#each documents.attachments as |document|}}
      {{#nop-document document=document}}
        {{nop-text-field label='How is this document related to the environment plan?'
                         value=document.description
                         errors=document.errors
                         errorKey='description'}}
      {{/nop-document}}
    {{/each}}
  {{else}}
    <div class="blank">No other documents provided</div>
  {{/if}}

  {{nop-text-field label='Documents already supplied to NOPSEMA'
                   value=documents.reg31Documents
                   rows=5}}
{{else}}
  {{nop-section-header title='Environment plan'}}
  {{nop-attach-document document=documents.environmentPlan
                        instruction='Drop environment plan here or click to upload'
                        instructionHint='Please submit in Adobe Portable Format (.pdf) or Word document (.doc, .docx) format. Max 250MB.'
                        accepts='.pdf,.doc,.docx'
                        errors=documents.errors
                        errorKey='environmentPlan'
                        required=true}}

  {{nop-section-header title='Supporting documentation'}}
  {{nop-attach-multiple-documents documents=documents.attachments
                                  descriptionLabel='How is this document related to the environment plan?'
                                  descriptionRequired=true
                                  instruction='Drop supporting documents here or click to upload'
                                  instructionHint='Max 250MB per file'}}

  {{nop-textarea label='Documents already supplied to NOPSEMA'
                 hint='You may refer to information that you have previously given to NOPSEMA in your submission that directly relates
                 to an EP content requirement. Information referred to in this way will be taken to be part of the submitted EP.
                 <br/>
                 You must ensure that identification of the source of this information is specific and unambiguous (i.e. include the
                 document name, document reference number, revision number and/or date and where required, refer to the specific
                 section(s), pages or similar where the information is contained), and the information is publicly available
                 (for example, in an accepted EP published on the NOPSEMA website).'
                 value=documents.reg31Documents
                 ariaLabel='List documents already supplied to NOPSEMA'
                 rows=5}}
{{/if}}
