{{nop-label label=label
            required=required}}
{{#if document}}
  {{#nop-document document=document 
                  canRemove=true
                  showPreview=showPreview
                  removeDocument="removeDocument"}}
    {{yield}}
  {{/nop-document}}
{{else}}
  {{#nop-document-uploader documentAdded="addDocument"
                           descriptionRequired=descriptionRequired
                           accepts=accepts}}
    <div class='instruction'>
      {{instruction}}
      {{#if requiredErrorMessage}}
        <span class='required-error-message'>{{ requiredErrorMessage }}</span>
      {{/if}}
    </div>
    {{#if notRequiredErrorMessage}}
      <span class='error-message'>{{ notRequiredErrorMessage }}</span>
    {{/if}}
    {{#if hint}}
      <div class='hint'>{{hint}}</div>
    {{/if}}
  {{/nop-document-uploader}}
{{/if}}
