{{#if readonly}}
  {{nop-text-field class='title-number'
                   label='Title or application number'
                   value=title.titleOrApplicationNumber
                   required=true
                   errors=title.errors
                   errorKey='titleOrApplicationNumber'}}
  {{nop-text-field class='title-commonwealth-waters'
                   label='Commonwealth waters adjacent to'
                   value=title.commonwealthWaters
                   required=true
                   errors=title.errors
                   errorKey='commonwealthWaters'}}
  {{nop-text-field class='title-region'
                   label='Region'
                   value=title.region
                   required=true
                   errors=title.errors
                   errorKey='region'}}
{{else}}
  {{nop-remove action='remove' enabled=showRemove}}
  <section>
    {{nop-input label='Title or application number'
                required=true
                value=title.titleOrApplicationNumber
                errors=title.errors
                errorKey='titleOrApplicationNumber'}}
    {{nop-select label='Commonwealth waters adjacent to'
                 content=commonwealthWatersSorted
                 required=true
                 value=title.commonwealthWaters
                 optionValuePath='text'
                 errors=title.errors
                 errorKey='commonwealthWaters'}}
    {{nop-select label='Region'
                 content=regions
                 required=true
                 value=title.region
                 optionValuePath='text'
                 errors=title.errors
                 errorKey='region'}}
  </section>

  {{#if activityTypes}}
    {{nop-section-header title='Activities that will be undertaken on this title'}}
    {{#each linkedActivityTypes as |at|}}
      {{nop-checkbox checked=at.selected
                     disabled=disableActivityTypes
                     label=(activity-type-from-id at.type)}}
      {{#if at.selected}}
        <div class='type-duration-fields'>
          {{nop-input class='type-duration' label='Duration' value=at.expectedDuration type='number'}}
          {{nop-select class='type-duration-units'
                       label='Units'
                       searchEnabled=false
                       value=at.durationUnits
                       content=durationUnits
                       optionValuePath='text'}}
        </div>
        {{nop-levies activityType=at}}
      {{/if}}
    {{/each}}
  {{/if}}
{{/if}}
