{{#if disabled}}
  <h3>Titles</h3>
  {{#each submission.titles as |title index|}}
    {{nop-title title=title disabled=disabled}}
  {{/each}}
{{else}}
  {{#each submission.titles as |title index|}}
    <section>
      <h5 class='title-title'>Title {{counter index}}</h5>
      {{nop-title title=title}}
    </section>
  {{/each}}

  {{nop-add-another action='addTitle' text='Add another Title' class='add-another-title'}}
{{/if}}
