{{nop-titleholder-details titleholder=submission.titleholderDetails}}

<section>
  {{nop-radio-group name='eligible-voluntary-action' class='eligible-voluntary-action' label='Is this an Eligible Voluntary Action?' value=submission.isEligibleVoluntaryAction options=trueOrFalse}}
  {{nop-info-box title='Eligible Voluntary Action' info='Where the Titleholder is able to act on behalf of the other Titleholders'}}
</section>

{{#unless submission.isEligibleVoluntaryAction}}
  {{#each submission.otherTitleholders as |other index|}}
    <section class='other-titleholder'>
      <h5 class='other-titleholder-title'>Other Titleholder {{counter index}}</h5>
      {{nop-titleholder-details titleholder=other noInfo=true}}
    </section>
  {{/each}}

  {{nop-add-another action='addTitleholder' text='Add another Titleholder' class='add-another-titleholder'}}
{{/unless}}
