{{#if readonly}}
  You have specified the following activity types to be undertaken:
  <ul class='bullets'>
    {{#each submission.activityTypes as |activityType|}}
      {{#if activityType.type}}
        <li>{{activity-type-from-id activityType.type}}</li>
      {{else}}
        <li class='blank'>Not specified</li>
      {{/if}}
    {{/each}}
  </ul>
  {{nop-errors errors=errors}}
{{else}}
  {{#if regulationType}}
    {{nop-section-header title='What is the nature of the activity?'}}
    {{#if petroleumActivity}}
      {{#each activityTypes as |activityType|}}
        {{nop-activity-type activityTypeOptions=petroleumActivityTypeOptions activityType=activityType}}
      {{/each}}
    {{else if greenhouseGasActivity}}
      {{#each activityTypes as |activityType|}}
        {{nop-activity-type activityTypeOptions=greenhouseGasActivityTypeOptions activityType=activityType}}
      {{/each}}
    {{/if}}
    {{nop-add-another action='addActivityType' text='Add another Activity Type'}}
  {{/if}}
{{/if}}
