{{#if readonly}}
  <div>
    {{nop-text-field class='activity-name'
                     label='Name'
                     value=activityDetails.name
                     errors=activityDetails.errors
                     errorKey='name'}}
    {{nop-text-field class='regulation-type'
                     label='Petroleum or greenhouse gas?'
                     value=(regulation-type-from-id activityDetails.regulationType)
                     errors=activityDetails.errors
                     errorKey='regulationType'}}
  </div>
  {{nop-text-field label='Description'
                   value=activityDetails.description
                   errors=activityDetails.errors
                   errorKey='description'}}
  <div class="label">Location</div>
  {{#if activityDetails.locationMap}}
    {{nop-document document=activityDetails.locationMap
                   showPreview=true}}
  {{/if}}
  {{nop-activity-types activityTypes=activityDetails.activityTypes readonly=true}}
  {{#if activityDetails.hasOffshoreProject}}
    <div>
      {{nop-text-field class='has-opp' 
                       label='Accepted Offshort Project Proposal (OPP)?' 
                       value=(boolean-to-yes-no activityDetails.hasOPP)}}
      {{nop-text-field class='has-minister-decision' 
                       label='Environment Minister decision?' 
                       value=(boolean-to-yes-no activityDetails.hasEnvironmentMinisterDecision)}}
    </div>
    {{#if showReferenceNumber}}
      {{nop-text-field label='OPP Document Reference or EPBC reference number' value=activityDetails.OPPOrEPBCReferenceNumber}}
    {{/if}}
  {{/if}}
{{else}}
  {{nop-input class='activity-name'
              label='Activity name'
              required=true
              value=activityDetails.name
              errors=activityDetails.errors
              errorKey='name'}}
  {{nop-textarea class='activity-description' 
                 label='Activity description'
                 name='activity-description'
                 value=activityDetails.description
                 required=true
                 rows=10
                 hint='Describe the activity in 200 to 500 words. This information will be published on the NOPSEMA website'
                 errors=activityDetails.errors
                 errorKey='description'}}
  {{nop-attach-document document=activityDetails.locationMap
                        label='Location of activity'
                        hint='Please attach a map at a suitable size and scale to show the activity within its regional context (i.e., showing the nearest coastal areas or other environmentally sensitive locations). The map should include a scale bar, legend, information caption and labels as required in legible fonts, depth contours and important or relevant locations/places/features referred to in the EP. The map should be of publishing quality (150 dpi or greater), a preferable file size no larger than 2MB, and in JPEG (.jpg, .jpeg) or PNG (.png) format.'
                        instruction='Drop map image here or click here to upload'
                        instructionHint='Please submit a map image in JPEG (.jpg, .jpeg) or PNG (.png) format.'
                        accepts='.jpg,.jpeg,.png'
                        showPreview=true
                        errors=activityDetails.errors
                        errorKey='locationMap'
                        required=true}}
  {{nop-section-header title='Activity types'
                       hint='This refers to the type of petroleum or greenhouse gas activity you are undertaking, such as a seismic survey, drilling activity, construction of a petroleum pipeline, operation of a facility, injection and storage of greenhouse gas etc. Further information on what constitutes a petroleum activity is available on the <a href="http://www.nopsema.gov.au/" target="_blank">NOPSEMA website</a>. If you have any questions regarding a greenhouse gas activity, please contact NOPSEMA for specific advice.'}}
  {{nop-radio-group class='activity-regulation-type' 
                    label='Is this a petroleum or greenhouse gas activity?'
                    value=activityDetails.regulationType
                    required=true
                    options=regulationTypes
                    errors=activityDetails.errors
                    errorKey='regulationType'}}
  {{nop-activity-types activityTypes=activityDetails.activityTypes regulationType=activityDetails.regulationType}}

  {{nop-section-header title='Offshore project'}}
  {{nop-radio-group class='offshore-project' 
                    label='Is the activity part of an offshore project?'
                    hint='What is an offshore project? An offshore project is one or more activities that are undertaken for the purpose of the recovery of petroleum, other than on an appraisal basis, including any conveyance of recovered petroleum by pipeline (whether or not the activity is undertaken for other purposes). Further information on offshore project proposals (OPP) can be found on the <a href="http://www.nopsema.gov.au/" target="_blank">NOPSEMA website</a>.'
                    value=activityDetails.hasOffshoreProject
                    options=trueOrFalse
                    required=true
                    errors=activityDetails.errors
                    errorKey='hasOffshoreProject'}}
  {{#if activityDetails.hasOffshoreProject}}
    {{nop-radio-group class='opp' 
                      label='Is there an accepted Offshore Project Proposal (OPP) for this project?'
                      hint='(As accepted under regulation 5D)'
                      value=activityDetails.hasOPP
                      options=trueOrFalse
                      required=true
                      errors=activityDetails.errors
                      errorKey='hasOPP'}}
    {{#if showOPPReference}}
      {{nop-input class='reference-number'
                  label='Please provide OPP document reference'
                  value=activityDetails.oppDocumentReference
                  required=true
                  errors=activityDetails.errors
                  errorKey='oppDocumentReference'}}
    {{/if}}

    {{#if showMinisterQuestion}}
      {{nop-radio-group class='environment-minister-decision' 
                        label='Is there a decision by the Environment Minister relevant to the activity?'
                        hint='As per sub-regulations 9(3) and 17(3)'
                        value=activityDetails.hasMinisterDecision
                        options=trueOrFalse
                        required=true
                        errors=activityDetails.errors
                        errorKey='hasMinisterDecision'}}
      {{#if showEPBCReference}}
        {{nop-input class='reference-number'
                    label='Please provide the EPBC reference number or other reference to the relevant decision'
                    hint='What is an EPBC approval reference number? All referrals under the EPBC Act from 1999 onward are given a reference number in the form EPBCYYYY/XXXX where YYYY is the year that the referral was submitted and XXXX is a unique four-digit identification number. For example EPBC2011/4513. For activities that were subject to a different approval process prior to 1999 please provide a brief description or link to the relevant approval document.'
                    value=activityDetails.epbcReferenceNumber
                    required=true
                    errors=activityDetails.errors
                    errorKey='epbcReferenceNumber'}}
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
