{{#if readonly}}
  <div class="label">Environment plan</div>
  {{#if documents.environmentPlan}}
    {{nop-document document=documents.environmentPlan}}
  {{/if}}

  <div class="label">Supporting documentation</div>
  {{#if documents.attachments.length}}
    {{#each documents.attachments as |document|}}
      {{#nop-document document=document}}
        {{nop-text-field label='How is this document related to the environment plan?'
                         value=document.description
                         errors=document.errors
                         errorKey='description'}}
      {{/nop-document}}
    {{/each}}
  {{else}}
    <div class="blank">No other documents provided</div>
  {{/if}}

  {{nop-text-field label='Documents already supplied to NOPSEMA'
                   value=documents.reg31Documents
                   rows=5}}
{{else}}
  {{nop-section-header title='Environment plan'}}
  {{nop-attach-document document=documents.environmentPlan
                        instruction='Drop environment plan here or click to upload'
                        instructionHint='Please submit in Adobe Portable Format (.pdf) or Word document (.doc, .docx) format'
                        accepts='.pdf,.doc,.docx'
                        errors=documents.errors
                        errorKey='environmentPlan'
                        required=true}}

  {{nop-section-header title='Supporting documentation'}}
  {{nop-attach-multiple-documents documents=documents.attachments 
                                  descriptionLabel='How is this document related to the environment plan?'
                                  descriptionRequired=true
                                  instruction='Drop supporting documents here or click to upload'}}

  {{nop-section-header title='Documents already supplied to NOPSEMA'
                       hint='List any documents or information already supplied to NOPSEMA under Regulation 31 that you wish to include in this submission. Titleholders should ensure that the relevance of any referenced information to the EP is clearly explained and ensure that references to previously submitted information are clear (i.e., include the ddocument name, number, revision number and/or date and, where relevant, refer to the specific section(s), pages or similar where the specific information is contained). NOPSEMA will assess the referenced information as though it is part of the EP submission.'}}
  {{nop-textarea value=documents.reg31Documents
                 rows=5}}
{{/if}}
