{{#if readonly}}
  The following people will receive confirmation emails upon submission:
  <ul class="bullets">
    {{#each uniqueEmailMessages as |email|}}
      <li>{{email}}</li>
    {{/each}}
    {{#each submission.otherConfirmationEmails as |other|}}
      <li>{{other.email}}</li>
    {{/each}}
  </ul>

  {{nop-errors errors=errors}}
{{else}}
  The following people will receive confirmation emails upon submission:
  <ul class="bullets">
    {{#each uniqueEmailMessages as |email|}}
        <li>{{email}}</li>
    {{/each}}
  </ul>
  <section>
    {{#each submission.otherConfirmationEmails as |other|}}
      {{#nop-list-item}}
        {{nop-confirmation-email email=other.email showRemove=true}}
      {{/nop-list-item}}
    {{/each}}
  </section>
  {{nop-add-another action='addConfirmationEmail' text='Would you like to add additional email addresses?' class='add-another-confirmation-email'}}
{{/if}}
