{{#if readonly}}
  <!-- TODO We should be showing the contact addresses here too -->
  The following people will receive confirmation emails upon submission:
  <ul class="bullets">
    {{#each uniqueEmailMessages as |email|}}
      <li>{{email}}</li>
    {{/each}}
    {{#each additionalInfo.confirmationEmails as |other|}}
      <li>{{other.email}}</li>
    {{/each}}
  </ul>

  {{nop-errors errors=errors}}
{{else}}
  The following people will receive confirmation emails upon submission:
  <ul class="bullets">
    {{#each uniqueEmailMessages as |email|}}
        <li>{{email}}</li>
    {{/each}}
  </ul>
  <div class='hint'>Provide email addresses of others who need to receive confirmation of this submission</div>
  <section>
    {{#each additionalInfo.confirmationEmails as |email|}}
      {{#nop-list-item}}
        {{nop-confirmation-email email=email showRemove=true removeEmail=(action 'removeConfirmationEmail')}}
      {{/nop-list-item}}
    {{/each}}
  </section>
  {{nop-add-another action='addConfirmationEmail' text='Add email address' class='add-another-confirmation-email'}}
{{/if}}
