{{#if disabled}}
  <h3>Activity Types</h3>
  You have specified the following activity types to be undertaken:
  <ul class='bullets'>
    {{#each submission.activityTypes as |activityType|}}
      <li>{{activity-type-from-id activityType.type}}</li>
    {{/each}}
  </ul>
{{else}}
  {{#if hasRegulationType}}
    {{#if petroleumActivity}}
      {{#each submission.activityTypes as |activityType|}}
        {{nop-activity-type activityTypeOptions=petroleumActivityTypeOptions activityType=activityType}}
      {{/each}}
    {{else if greenhouseGasActivity}}
      {{#each submission.activityTypes as |activityType|}}
        {{nop-activity-type activityTypeOptions=greenhouseGasActivityTypeOptions activityType=activityType}}
      {{/each}}
    {{/if}}
    {{nop-add-another action='addActivityType' text='Add another Activity Type'}}
  {{else}}
    {{nop-radio-group class='activity-regulation-type' label='What type of activity is this?'
                                                       value=submission.regulationType
                                                       required=true
                                                       options=regulationTypes}}
  {{/if}}
{{/if}}
