<button class='file-picker'>
  {{#if complete}}
    <div class='instruction'>Upload Complete</div>
  {{else}}
    {{#if uploading}}
      <div class='instruction'>Currently uploading, please wait…</div>
    {{else}}
      {{#if error}}
        <div class='instruction'>{{error}}</div>
      {{else}}
        <div class='instruction'>Drop file or click here to upload</div>
      {{/if}}
    {{/if}}
  {{/if}}
</button>
{{#if complete}}
  <div class='preview'></div>
{{/if}}
{{#if hint}}
  <div class='hint'>{{hint}}</div>
{{/if}}
{{#if showProgress}}
<div class='progress'>
  <div class="progress-inner {{if complete 'complete'}}" {{bind-attr style=(concat 'width:' progress '%')}}></div>
</div>
{{/if}}
