{{#if readonly}}
  {{#each uniqueEmails as |email|}}
    {{nop-text-field class='person-email' value=email}}
  {{/each}}
  {{#each submission.otherConfirmationEmails as |other|}}
    {{nop-text-field class='person-email' value=other.email}}
  {{/each}}
{{else}}
  {{#each uniqueEmails as |email|}}
    {{nop-text-field class='person-email' value=email}}
  {{/each}}
  <section>
    {{#each submission.otherConfirmationEmails as |other|}}
      {{nop-input label='Additional email address' name='other-confirmation-email' type='email' value=other.email}}
    {{/each}}
  </section>
  {{nop-add-another action='addConfirmationEmail' text='Would you like to add additional email addresses?' class='add-another-confirmation-email'}}
{{/if}}
