{{#if readonly}}
  {{nop-section-header title='Activity Types'}}
  You have specified the following activity types to be undertaken:
  <ul class='bullets'>
    {{#each activityTypes as |activityType|}}
      {{#if activityType.type}}
        <li>{{activity-type-from-id activityType.type}}</li>
      {{else}}
        <li class='blank'>Not specified</li>
      {{/if}}
    {{/each}}
  </ul>
{{else}}
  {{#if regulationType}}
    {{nop-section-header title='What is the purpose of the activity?'}}
    {{#if petroleumActivity}}
      {{#each activityTypes as |activityType|}}
        {{#nop-list-item}}
          {{nop-activity-type activityTypeOptions=petroleumActivityTypeOptions
                              activityType=activityType
                              showRemove=multipleActivityTypes
                              removeActivityType=(action 'removeActivityType')}}
        {{/nop-list-item}}
      {{/each}}
    {{else if greenhouseGasActivity}}
      {{#each activityTypes as |activityType|}}
        {{#nop-list-item}}
          {{nop-activity-type activityTypeOptions=greenhouseGasActivityTypeOptions
                              activityType=activityType
                              showRemove=multipleActivityTypes
                              removeActivityType=(action 'removeActivityType')}}
        {{/nop-list-item}}
      {{/each}}
    {{/if}}
    {{nop-add-another action='addActivityType' text='Add another Activity Type'}}
  {{/if}}
{{/if}}
