{{#if readonly}}
  {{#if inclusionSpecified}}
    {{#if declaration.includeFa}}
      You have provided the following document:
      <ul class="bullets">
        <li>{{declaration.name}}</li>
      </ul>
    {{else}}
      You have chosen not to submit a Financial Assurance Declaration as part of this submission
    {{/if}}
  {{/if}}

  {{nop-errors errors=errors}}
{{else}}
  {{nop-radio-group class='include-fa' label='Do you want to submit a Financial Assurance Declaration with this submission?'
                                             value=declaration.includeFa
                                             options=trueOrFalse}}

  {{#if declaration.includeFa}}
    {{nop-attach-file document=declaration}}
  {{/if}}
{{/if}}
