{{#if readonly}}

  {{nop-text-field label='Activity to which this confirmation applies'
                   value=confirmationDetails.epDocumentTitle
                   required=true
                   errors=confirmationDetails.errors
                   errorKey='epDocumentTitle'}}
  {{nop-text-field label='Calculation method' value=selectedCalculationMethod}}

  {{#if otherEndorsedType}}
    {{nop-text-field label='Date of endorsement' value=confirmationDetails.endorsementDate}}
  {{/if}}
{{else}}
  {{nop-input label='Activity to which this confirmation applies'
              value=confirmationDetails.epDocumentTitle
              required=true
              errors=confirmationDetails.errors
              errorKey='epDocumentTitle'}}

  <section class='calculation-types'>
    {{nop-section-header title='Under what method was financial assurance for this activity calculated?' required=true}}
    {{#unless confirmationDetails.calculationMethod}}
      <div class='error-message'>Required</div>
    {{/unless}}
    <div class='calculation-type'>
      {{nop-radio checked=confirmationDetails.calculationMethod value='calculationMethod1' name='calculation-type' label='APPEA method'}}
      <p class='hint'>
        Financial assurance for the activities under this EP was calculated in accordance with the APPEA method and is within the limitations
        of use of that method
      </p>
    </div>
    <div class='calculation-type'>
      {{nop-radio checked=confirmationDetails.calculationMethod value='calculationMethod2' name='calculation-type' label='Other endorsed method'}}
      <p class='hint'>
        Financial assurance for the activities under this EP was calculated in accordance with another method endorsed by NOPSEMA and is within
        the limitations of use of that method
      </p>
      {{#if otherEndorsedType}}
        {{nop-input label='Date of endorsement'
                    value=confirmationDetails.endorsementDate
                    required=true
                    errors=confirmationDetails.errors
                    errorKey='endorsementDate'}}
      {{/if}}
    </div>
  </section>
{{/if}}
