{{#if readonly}}
  <div class="label">Environment Plan</div>
  {{#if documents.environmentPlan.token}}
    You provided the following file:
    <ul class='bullets'>
      <li>{{or documents.environmentPlan.name '-'}}</li>
    </ul>
  {{else}}
    Environment Plan not provided
  {{/if}}

  <div class="label">Supporting Documentation</div>
  {{#if documents.attachments}}
    You provided the following files:
    <ul class='bullets'>
      {{#each documents.attachments as |attachment|}}
        <li>{{or attachment.name '-'}}</li>
      {{/each}}
    </ul>
  {{else}}
    <div class="blank">No other documents provided</div>
  {{/if}}

  {{nop-text-field label='Documents Already Supplied To NOPSEMA'
                   value=documents.reg31Documents
                   rows=5}}
{{else}}
  {{nop-section-header title='Environment Plan'}}
  {{nop-attach-document document=documents.environmentPlan
                        dropZoneInstruction='Drop environment plan here or click to upload'}}

  {{nop-section-header title='Supporting Documentation'}}
  {{nop-attachments attachments=documents.attachments 
                    dropZoneInstruction='Drop supporting documents here or click to upload'}}

  {{nop-textarea label='Documents Already Supplied to NOPSEMA'
                 hint='List any documents already supplied to NOPSEMA under Regulation 31'
                 value=documents.reg31Documents
                 rows=5}}
{{/if}}
