{{#if readonly}}
<section>
  {{nop-section-header title='Declaration option'}}
  <div class='declaration-option'>
    {{nop-radio checked=declarationOptions.declarationOption value='declarationOption1' name='declaration-option' label='Only one registered titleholder' readonly=true}}
  </div>
  <div class='declaration-option'>
    {{nop-radio checked=declarationOptions.declarationOption value='declarationOption2' name='declaration-option' label='Multiple titleholders' readonly=true}}
  </div>
  <div class='declaration-option'>
    {{nop-radio checked=declarationOptions.declarationOption value='declarationOption3' name='declaration-option' label='Multiple titleholders and the financial assurance obligations are to be discharged by a single entity' readonly=true}}
  </div>
</section>

<section class='signatory-types'>
  {{nop-section-header title='Parties signing the declaration'}}
  <div class='signatory-type'>
    {{nop-radio checked=declarationOptions.signatoryType
                value='signatoryType1'
                name='signatory-type'
                readonly=true
                label='A company director, authorised officer or individual with the registered titleholders express or
                implied authority and on behalf of the titleholder'}}
  </div>

  <div class='signatory-type'>
    {{nop-radio checked=declarationOptions.signatoryType
                value='signatoryType2'
                name='signatory-type'
                readonly=true
                label='A person appointed under power of attorney on behalf of the titleholder'}}
  </div>
</section>

{{else}}
<section>
  {{nop-section-header title='What type of declaration is this?'}}
  <div class='declaration-option'>
    {{nop-radio checked=declarationOptions.declarationOption value='declarationOption1' name='declaration-option' label='Only one registered titleholder'}}
    <p class='hint'>For use where there is a single entity or an individual person is listed as the only registered titleholder of the title(s)</p>
    {{#if showSingleDeclaration}}
      <div class='notice'>
        {{fa-icon 'eye'}}
        I/We (the undersigned) certify for all titles to which this Declaration relates, that ??? is in and will maintain compliance
        with the requirements of section 571(2) of the <i>Offshore Petroleum and Greenhouse Gas Storage Act 2006</i>.
      </div>
    {{/if}}
  </div>
  <div class='declaration-option'>
    {{nop-radio checked=declarationOptions.declarationOption value='declarationOption2' name='declaration-option' label='Multiple titleholders'}}
    <p class='hint'>
      For use where more than one invididual and/or entity are listed as the registered holders of the title(s) and the titleholders wish to discharge
      a proportion of the financial assurance obligation that represents their interest in the title. For further information on Financial Assurance
      Declarations for multiple titleholders please see NOPSEMA's Financial Assurance for Petroleum Titles Guideline
    </p>
    {{#if showMultipleDeclaration}}
      <div class='notice'>
        {{fa-icon 'eye'}}
        I/We (the undersigned) certify for all titles to which this Declaration relates, that ??? is in and will maintain compliance
        with the requirements of section 571(2) of the <i>Offshore Petroleum and Greenhouse Gas Storage Act 2006</i>.
      </div>
    {{/if}}
  </div>
  <div class='declaration-option'>
    {{nop-radio checked=declarationOptions.declarationOption value='declarationOption3' name='declaration-option' label='Multiple titleholders and the financial assurance obligations are to be discharged by a single entity'}}
    <p class='hint'>
      For use where more than one individual and/or entity are listed as the registered holders of the title(s) and a single titleholder wishes to discharge
      the entire financial assurance obligation on behalf of all other titleholders
    </p>
    {{#if showMultiSingleDeclaration}}
      <div class='notice'>
        {{fa-icon 'eye'}}
        I/We (the undersigned) certify in respect of the obligations for all titles for which this Declaration relates that ???
        <ul>
          <li>is in and will maintain compliance with the requirements of section 571(2) of the <i>Offshore Petroleum and Greenhouse Gas Storage Act 2006</i>; and</li>
          <li>discharges the entire obligation on behalf of all registered titleholders in accordance with section 775D of the <i>Offshore Petroleum and Greenhouse Gas Storage Act 2006</i>.</li>
        </ul>
      </div>
    {{/if}}
  </div>
</section>

<section class='signatory-types'>
  {{nop-section-header title='Who will be signing this declaration?'}}
  <div class='signatory-type'>
    {{nop-radio checked=declarationOptions.signatoryType
                value='signatoryType1'
                name='signatory-type'
                label='A company director, authorised officer or individual with the registered titleholders express or
                implied authority and on behalf of the titleholder'}}
  </div>

  <div class='signatory-type'>
    {{nop-radio checked=declarationOptions.signatoryType
                value='signatoryType2'
                name='signatory-type'
                label='A person appointed under power of attorney on behalf of the titleholder'}}
  </div>
</section>
{{/if}}
