{{#if readonly}}
  <div>
    {{nop-text-field class='activity-name'
                     label='Name'
                     value=activityDetails.name}}
    {{nop-text-field class='regulation-type'
                     label='Regulation Type'
                     value=(regulation-type-from-id activityDetails.regulationType)}}
  </div>
  {{nop-text-field label='Description' value=activityDetails.description}}
  {{nop-activity-types activityTypes=activityDetails.activityTypes readonly=true}}
  {{#if activityDetails.hasOffshoreProject}}
    <div>
      {{nop-text-field class='has-opp' label='Accepted Offshort Project Proposal (OPP)?' value=(boolean-to-yes-no activityDetails.hasOPP)}}
      {{nop-text-field class='has-minister-decision' label='Environment Minister Decision?' value=(boolean-to-yes-no activityDetails.hasEnvironmentMinisterDecision)}}
    </div>
    {{#if showReferenceNumber}}
      {{nop-text-field label='OPP Document Reference or EPBC reference number' value=activityDetails.OPPOrEPBCReferenceNumber}}
    {{/if}}
  {{/if}}

  {{nop-errors errors=errors}}
{{else}}
  {{nop-input class='activity-name'
              label='Activity Name'
              required=true
              value=activityDetails.name
              errors=activityDetails.errors
              errorKey='name'}}
  {{nop-textarea class='activity-description' label='Activity Description'
                                              name='activity-description'
                                              value=activityDetails.description
                                              required=true
                                              rows=10
                                              hint='Describe the activity in 200 to 500 words. This information will be published on the NOPSEMA website'
                                              errors=activityDetails.errors
                                              errorKey='description'}}
  {{nop-attach-image label='Location of Activity' hint='Attach location map' document=activityDetails.locationMap}}

  {{nop-section-header title='Activity Types'}}
  {{nop-radio-group class='activity-regulation-type' label='Is this a petroleum or greenhouse gas activity?'
                                                     value=activityDetails.regulationType
                                                     required=true
                                                     options=regulationTypes}}
  {{nop-activity-types activityTypes=activityDetails.activityTypes regulationType=activityDetails.regulationType}}

  {{nop-section-header title='Offshore Project'}}
  {{nop-radio-group class='offshore-project' label='Is any part of the activity an offshore project?'
                                             value=activityDetails.hasOffshoreProject
                                             options=trueOrFalse}}
  {{#if activityDetails.hasOffshoreProject}}
    {{nop-radio-group class='opp' label='Is there an accepted Offshore Project Proposal (OPP)?'
                                                 hint='(As accepted under regulation 5D)'
                                                 value=activityDetails.hasOPP
                                                 options=trueOrFalse}}
    {{#if showOPPReference}}
      {{nop-input class='reference-number' label='Please provide OPP document reference' value=activityDetails.oppDocumentReference}}
    {{/if}}

    {{#if showMinisterQuestion}}
      {{nop-radio-group class='environment-minister-decision' label='Is there a decision by the Environment Minister for the activity?'
                                           hint='As per sub-regulations 9(3) and 17(3)'
                                           value=activityDetails.hasMinisterDecision
                                           options=trueOrFalse}}
      {{#if showEPBCReference}}
        {{nop-input class='reference-number' label='Please provide the EPBC reference number' value=activityDetails.epbcReferenceNumber}}
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
