{{#if readonly}}
  {{nop-text-field class='title-number' label='Title or Application number' value=title.titleOrApplicationNumber}}
  {{nop-text-field class='title-commonwealth-waters' label='Commonwealth waters adjacent to' value=title.commonwealthWaters}}
  {{nop-text-field class='title-region' label='Region' value=title.region}}
{{else}}
  {{#if showRemove}}
    {{nop-remove action='remove'}}
  {{/if}}
  <h5 class='title-title'>Title {{counter index}}</h5>
  {{nop-input label='Title number (or application number)' name='title-or-application-number' required=true value=title.titleOrApplicationNumber}}
  {{nop-select label='Commonwealth waters adjacent to' name='title-commonwealth-waters' content=commonwealthWaters required=true value=title.commonwealthWaters optionValuePath='text'}}
  {{nop-select label='Region' name='title-region' content=regions required=true value=title.region optionValuePath='text'}}
{{/if}}
