{{#if showCancel}}
  <button class='cancel-button' {{action 'cancelUpload'}}>
    {{fa-icon 'times-circle'}}
  </button>
{{/if}}
<button class='file-picker' aria-label='Click to upload file'>
  <div class='instruction'>
    {{fa-icon 'cloud-upload'}}<br/>
    {{#if message}}
      {{message}}
    {{else}}
      {{yield}}
    {{/if}}
  </div>
  {{#if showProgress}}
  <div class='progress'>
    <div class="progress-inner" style={{progressStyle}}></div>
  </div>
  {{/if}}
</button>
<input type='file' class='file-input' aria-label='Upload file' />
