{{#if disabled}}
  {{nop-text-field label='Name' value=fullName}}
  <div>
    {{nop-text-field class='person-employer' label='Employer' value=person.employer}}
    {{nop-text-field class='person-position' label='Position' value=person.position}}
  </div>
  <div>
    <div class='person-contacts'>
      <div class='person-numbers'>
        {{nop-text-field class='person-phone' label='Phone' value=person.phone}}
        {{nop-text-field class='person-mobile' label='Mobile' value=person.mobile}}
      </div>
      {{nop-text-field class='person-email' label='Email' value=person.email}}
    </div>
    {{nop-address class='person-postal' title='Postal Address' address=person.postalAddress disabled=true}}
  </div>
{{else}}
  {{nop-input label='Title' class='person-title' name='person-details-title' required=true value=person.title}}
  {{nop-input label='First Name' class='person-first-name' name='person-details-first-name' required=true value=person.firstName}}
  {{nop-input label='Last Name' class='person-last-name' name='person-details-last-name' required=true value=person.lastName}}
  {{nop-input label='Position' name='person-details-position' value=person.position}}
  {{nop-input label='Employer' name='person-details-employer' value=person.employer hint='Assumed the same as the Titleholder if not supplied'}}
  <section>
    {{nop-section-header title='Phone Numbers' hint='At least one phone number is required' required=true}}
    <div>
      {{nop-input label='Phone' name='person-details-phone' value=person.phone class='phone-number'}}
      {{nop-input label='Mobile' name='person-details-mobile' value=person.mobile class='phone-number'}}
    </div>
  </section>
  {{nop-input label='Email Address' name='person-details-email' type='email' value=person.email required=true}}
  {{nop-address title='Postal Address' hint='Required if different from Titleholder' address=person.postalAddress allowPOBox=true}}
{{/if}}
