<section class="select-container {{if required 'required'}} {{if errorMessage 'errors'}}">
  {{nop-label forElementId=(concat elementId '-' name)
              label=label
              required=required
              errorMessage=errorMessage}}
  {{#if hint}}
    <div class='hint'>{{hint}}</div>
  {{/if}}
  <div class="highlight-container">
    {{select-2 content=content
               placeholder=placeholder
               multiple=multiple
               required=required
               value=value
               optionValuePath=optionValuePath
               searchEnabled=searchEnabled
               id=(concat elementId '-' name)}}
    <span class="highlight" />
  </div>
  {{#if nonRequiredErrors}}
    <div class="error-message">
      {{ nonRequiredErrors }}
    </div>
  {{/if}}
</section>
