{{#if disabled}}
  <div>
    {{nop-text-field class='titleholder-detail_name' label='Business Name' value=titleholder.name}}
    {{nop-text-field class='titleholder-detail_abn' label='ABN' value=titleholder.abn}}
    {{nop-text-field class='titleholder-detail_acn' label='ACN' value=titleholder.acn}}
  </div>
  <div>
    {{nop-address title='Registered Business Address' address=titleholder.businessAddress disabled=true}}
    {{nop-address title='Postal Address' address=titleholder.postalAddress disabled=true}}
  </div>
{{else}}
  {{nop-input label='Business Name' name='name' required=true value=titleholder.name}}
  {{#unless noInfo}}
    {{nop-info-box title='What is Titleholder' info='Explain what this is in simple and legal terms.'}}
  {{/unless}}
  <div class='company-numbers'>
    {{nop-input label='Australian Business Number (ABN)' name='company-number_abn' value=titleholder.abn}}
    {{nop-input label='Australian Company Number (ACN)' name='company-number_acn' value=titleholder.acn}}
  </div>
  {{! TODO Give ACN/ABN a hint so you can do the link to the Aus Business Register}}
  {{nop-address title='Registered Business Address' required=true address=titleholder.businessAddress allowPOBox=false}}
  {{nop-address title='Postal Address' address=titleholder.postalAddress allowPOBox=false}}
{{/if}}
