{{#if visible}}
  {{#modal-dialog close='toggleModal'
                  targetAttachment="center"
                  translucentOverlay=true}}
    <h3>{{title}}</h3>
    {{#if message}}
      <p>{{message}}</p>
    {{else}}
      {{yield}}
    {{/if}}
    {{#if showOk}}
      <button {{action 'toggleModal'}}>Ok</button>
    {{/if}}
  {{/modal-dialog}}
{{/if}}
