{{#if hint}}
  <div class='hint'>{{hint}}</div>
{{/if}}
{{input id=(concat elementId '-' name) required=required type=type value=value}}
<label for="{{concat elementId '-' name}}">{{label}}</label>
<span class="highlight" />
{{#if errorMessage}}
  <div class="errors">
    {{ errorMessage }}
  </div>
{{/if}}
