{{#nop-page title='Financial Assurance Confirmation' class='form-page'}}
  <section>
    {{#nop-review-component title='Titles' editLink='financial-assurance.titles' errors=model.titles.hasErrors}}
      {{nop-titles titles=model.titles readonly=true}}
    {{/nop-review-component}}
  </section>
  <section>
    {{#nop-review-component title='Titleholder details' editLink='financial-assurance.titleholder-details' errors=model.titleholderDetails.hasErrors}}
      {{nop-titleholder-details titleholder=model.titleholderDetails readonly=true}}
    {{/nop-review-component}}
  </section>

  <section>
    {{#nop-review-component title='Confirmation' editLink='financial-assurance.submission-contact' errors=model.submissionContact.hasErrors}}
    <p>
      I, {{fullName}} as the representative of the submitting the environment plan, confirm that financial assurance
      declaration have been provided to NOPSEMA by the titleholder(s) of all titles which authorise the petroleum activities included in the
      submission.
    </p>
    <p>I acknowledge that I understand that supplying false or misleading information to a Commonwealth entity is an offence under the criminal code Act 1995.</p>
    {{/nop-review-component}}
  </section>

  <div class='page-break' />

  <section>
    {{#nop-review-component title='Select calculation type'}}
      <div class='calculation-type'>
        {{nop-radio checked=calculationType value='a' name='calculation-type' label='A: APPEA method'}}
        <p class='hint'>
          Financial assurance for the activities under this EP was calculated in accordance with the APPEA method and is within the limitations
          of use of that method
        </p>
      </div>
      <div class='calculation-type'>
        {{nop-radio checked=calculationType value='b' name='calculation-type' label='B:  Other endorsed method'}}
        <p class='hint'>
          Financial assurance for the activities under this EP was calculated in accordance with another method endorsed by NOPSEMA and is within
          the limitations of use of that method
        </p>
        {{#if otherEndorsedType}}
          {{nop-input label='Date of endorsement'}}
        {{/if}}
      </div>
    {{/nop-review-component}}
  </section>

  {{#if showSignatures}}
    <section>
      {{#nop-review-component title='Executed by' class='signature-section'}}
        <div>
          {{nop-signature-director class='signature-block'}}
          {{nop-signature-director class='signature-block'}}
        </div>
      {{/nop-review-component}}
    </section>
  {{/if}}

  {{#if showPrint}}
    {{#nop-actions}}
      <button class='primary' {{action 'print'}}>Print</button>
    {{/nop-actions}}
  {{/if}}
{{/nop-page}}
