{{#nop-page title='Your submission was successful' class='confirmation-page'}}
  <h5 class='confirmation-message'>
    Keep this information handy, it may be required during correspondence around
    your submission. A copy of this information has been emailed to you.
  </h5>
  <section>
    {{nop-text-field label='Receipt Number' value=model.receiptNumber}}
  </section>

  <section>
    {{nop-text-field label='Submission Received At' value=submissionReceived}}
    {{nop-text-field label='NOPSEMA Response Due' value=responseDue}}
  </section>

  <section class='documents'>
    <div class='label'>You uploaded the following documents</div>
    <ul class='bullets document-list'>
      {{#each documentNames as |name|}}
        <li class='document-name'>{{name}}</li>
      {{/each}}
    </ul>
    {{#if model.documents.reg31Documents}}
      <div class='label'>You have already supplied the following information under Regulation 31</div>
      <p class='reg31-documents'>{{model.documents.reg31Documents}}</p>
    {{/if}}
  </section>
  {{#nop-actions}}
    <button class='primary' {{action 'goHome'}}>Back to Home</button>
  {{/nop-actions}}
{{/nop-page}}
