{{#nop-page title='Review Your Submission' class='submit-page'}}
  <section>
    {{nop-activity-description submission=model disabled=true}}
  </section>
  <section>
    {{nop-titles submission=model disabled=true}}
  </section>
  <section>
    {{nop-activity-types submission=model disabled=true}}
  </section>
  <section>
    {{nop-titleholders submission=model disabled=true}}
  </section>
  <section>
    <h3>Submission Contact</h3>
    {{nop-person-details person=model.submissionContact disabled=true}}
  </section>
  <section>
    <h3>Nominated Liaison Person</h3>
    {{nop-person-details person=model.liaisonContact disabled=true}}
  </section>
  <section>
    <h3>Activity Contact</h3>
    {{nop-person-details person=model.activityContact disabled=true}}
  </section>
  <section>
    <h3>Environment Plan Document</h3>
    {{model.documents.environmentPlan.name}}
  </section>
  <section>
    <h3>Financial Assurance Declaration</h3>
    {{model.documents.faDeclaration.name}}
  </section>
  <section>
    <h3>Financial Assurance Confirmation</h3>
    {{model.documents.faConfirmation.name}}
  </section>
  <section>
    <h3>Attachments</h3>
    <ul class='bullets'>
      {{#each model.documents.attachments as |attachment|}}
        <li>{{attachment.name}}</li>
      {{/each}}
    </ul>
  </section>
  <section>
    <h3>Comments</h3>
    {{nop-comments comments=model.comments disabled=true}}
  </section>
  {{#each errorMessages as |message|}}
    <div>{{message}}</div>
  {{/each}}
  <section>
    {{nop-confirmation-emails submission=model hint='Confirmation emails with details about your submission and a reference number will be sent to these addresses.'}}
  </section>
  {{#nop-actions}}
    <button {{action 'validate'}}>Validate</button>
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'submit'}}>Submit</button>
  {{/nop-actions}}
{{/nop-page}}
