{{#nop-page title='Review Your Submission' class='submit-page'}}
  <section>
    {{nop-activity-description submission=model readonly=true}}
  </section>
  <section>
    {{nop-titles submission=model readonly=true}}
  </section>
  <section>
    {{nop-activity-types submission=model readonly=true}}
  </section>
  <div class='page-break'/>
  <section>
    {{nop-titleholders submission=model readonly=true}}
  </section>
  <div class='page-break'/>
  <section>
    {{nop-submission-contact submission=model readonly=true}}
  </section>
  <section>
    {{nop-liaison-contact submission=model readonly=true}}
  </section>
  <section>
    {{nop-activity-contact submission=model readonly=true}}
  </section>
  <div class='page-break'/>
  <section>
    {{nop-attach-environment-plan submission=model readonly=true}}
  </section>
  <section>
    {{nop-fa-declaration submission=model readonly=true}}
  </section>
  <section>
    {{nop-fa-confirmation submission=model readonly=true}}
  </section>
  <section>
    {{nop-attachments submission=model readonly=true}}
  </section>
  <section>
    {{nop-comments comments=model.comments readonly=true}}
  </section>
  <section>
    {{nop-confirmation-emails submission=model readonly=true}}
  </section>
  {{#each errorMessages as |message|}}
    <div>{{message}}</div>
  {{/each}}
  {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'submit'}}>Submit</button>
  {{/nop-actions}}
{{/nop-page}}
