{{#nop-page title='Review Your Submission' class='submit-page'}}
  {{nop-activity-description submission=model disabled=true}}
  {{nop-titles submission=model disabled=true}}
  {{#each errorMessages as |message|}}
    <div>{{message}}</div>
  {{/each}}
  {{#nop-actions}}
    <button {{action 'validate'}}>Validate</button>
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'submit'}}>Submit</button>
  {{/nop-actions}}
{{/nop-page}}
