{{#nop-page title='Review Your Submission' class='submit-page'}}
  <section>
    {{#nop-review-component title='Activity Details' editLink='environment-plan.new.activity-description'}}
      {{nop-activity-description activityDetails=model.activityDetails readonly=true}}
    {{/nop-review-component}}
  </section>
  <section>
    {{#nop-review-component title='Titles' editLink='environment-plan.new.titles'}}
      {{nop-titles titles=model.titles readonly=true}}
    {{/nop-review-component}}
  </section>
  <section>
    {{#nop-review-component title='Titleholder Details' editLink='environment-plan.new.titleholder-details'}}
      {{nop-titleholder-details titleholder=model.titleholderDetails readonly=true}}
    {{/nop-review-component}}
  </section>
  <div class='contacts page-break'>
    <section>
      {{#nop-review-component title='Submission Contact' editLink='environment-plan.new.submission-contact'}}
        {{nop-submission-contact contact=model.submissionContact readonly=true}}
      {{/nop-review-component}}
    </section>
    <section>
      {{#nop-review-component title='Nominated Liaison Person' editLink='environment-plan.new.liaison-contact'}}
        {{nop-liaison-contact contact=model.liaisonContact readonly=true}}
      {{/nop-review-component}}
    </section>
    <section>
      {{#nop-review-component title='Activity Contact' editLink='environment-plan.new.activity-contact'}}
        {{nop-activity-contact contact=model.activityContact readonly=true}}
      {{/nop-review-component}}
    </section>
  </div>
  <section>
    {{#nop-review-component title='Environment Plan Documents' editLink='environment-plan.new.documents'}}
      {{nop-environment-plan-documents documents=model.documents readonly=true}}
    {{/nop-review-component}}
  </section>
  <section>
    {{#nop-review-component title='Financial Assurance' editLink='environment-plan.new.financial-assurance'}}
      {{nop-financial-assurance assurance=model.financialAssurance readonly=true}}
    {{/nop-review-component}}
  </section>
  <div class='page-break' />
  <!-- <section>
    {{#nop-review-component title='Comments' editLink='environment-plan.new.comments'}}
      {{nop-comments comments=model.comments readonly=true}}
    {{/nop-review-component}}
  </section> -->
  <!-- <section>
    {{#nop-review-component title='Additional Emails' editLink='environment-plan.new.confirmation-emails'}}
      {{nop-confirmation-emails submission=model readonly=true}}
    {{/nop-review-component}}
  </section> -->
  <!-- {{#nop-actions}}
    <button {{action 'goBack'}}>Back</button>
    <button class='primary' {{action 'submit'}}>Submit</button>
  {{/nop-actions}} -->
{{/nop-page}}
