{{ title 'Living Style Guide' replace=true }}

<div class="styleguide-page">

  <h1>Living Style Guide</h1>

  <section>
    <header>
      <h2>Headings</h2>
    </header>
    <h1>H1. Welcome to the Submissions UI</h1>
    <h2>H2. Welcome to the Submissions UI</h2>
    <h3>H3. Welcome to the Submissions UI</h3>
    <h4>H4. Welcome to the Submissions UI</h4>
    <h5>H5. Welcome to the Submissions UI</h5>
    <h6>H6. Welcome to the Submissions UI</h6>
  </section>

  <section>
    <header>
      <h2>Forms</h2>
    </header>
    <section>
      <header>
        <h3>Text Inputs</h3>
      </header>
      <div>
        {{nop-input label='Text Input' inputId='text-input' required=true}}
        {{nop-input label='Number Input' inputId='number-input' type='number'}}
        {{nop-input label='Email Input' inputId='email-input' type='email'}}
        {{nop-input label='Date Input' inputId='date-input' type='date'}}
      </div>
    </section>
    <section>
      {{nop-textarea label='Text Area Input' inputId='textarea-input'}}
    </section>

    <section>
      <header>
        <h3>Radio Inputs</h3>
      </header>
      <h4>What type of activity?</h4>
      {{! TODO We've lost the semantics of having a list here}}
      <div>
        {{nop-radio label='Petroleum Activity' inputId='radio-input1' name='selector'}}
        {{nop-radio label='Gas Activity' inputId='radio-input2' name='selector'}}
        {{nop-radio label='Disabled' inputId='radio-input3' name='selector' disabled=true}}
        {{nop-radio label='Disabled (Checked)' inputId='radio-input4' name='selector1' disabled=true checked=true}}
      </div>
    </section>

    <section>
      <header>
        <h3>Selection</h3>
      </header>
      <div>
        <div class="select-group single">
          <label for="select-input">Single-select</label>
          {{select-2 content=selectOptions}}
        </div>
        <div class="select-group multiple">
          <label for="multi-select-input">Multi-select</label>
          {{select-2 elementId=multi-select-input
                     content=selectOptions
                     multiple=true
          }}
        </div>
      </div>
    </section>
    <section>
      <header>
        <h3>Checkboxes</h3>
      </header>
      <div>
        <h4>Pick some types with checkboxes</h4>
        <ul>
          <li class="checkbox-group activity-type">
            <input id="checkbox-input1" type="checkbox" name="selector" />
            <label for="checkbox-input1">Operation of a facility</label>
            <div class="check"></div>
          </li>
          <li class="checkbox-group activity-type">
            <input id="checkbox-input2" type="checkbox" name="selector" />
            <label for="checkbox-input2">Operation of a petroleum pipeline</label>
            <div class="check"></div>
          </li>
          <li class="checkbox-group activity-type">
            <input id="checkbox-input3" type="checkbox" name="selector" disabled="true" />
            <label for="checkbox-input3">Disabled</label>
            <div class="check"></div>
          </li>
          <li class="checkbox-group activity-type">
            <input id="checkbox-input4" type="checkbox" checked="true" name="selector" disabled="true" />
            <label for="checkbox-input4">Disabled (Checked)</label>
            <div class="check"></div>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <header>
        <h3>Buttons</h3>
      </header>
      <button>I'm a regular button!</button>
      <button class="primary">I'm the primary button!</button>
      <button class="warning">I'm a warning button?</button>
    </section>
  </section>
</div>
