{{ title 'Living Style Guide' replace=true }}

<div class="styleguide-page">

  <h1>Living Style Guide</h1>

  <section>
    <header>
      <h2>Headings</h2>
    </header>
    <h1>H1. Welcome to the Submissions UI</h1>
    <h2>H2. Welcome to the Submissions UI</h2>
    <h3>H3. Welcome to the Submissions UI</h3>
    <h4>H4. Welcome to the Submissions UI</h4>
    <h5>H5. Welcome to the Submissions UI</h5>
    <h6>H6. Welcome to the Submissions UI</h6>
  </section>

  <section>
    <header>
      <h2>Forms</h2>
    </header>
    <section>
      <header>
        <h3>Text Inputs</h3>
      </header>
      <div>
        {{nop-input class='input-example' label='Text Input' name='text-input' hint='Feed me text' required=true}}
        {{nop-input class='input-example' label='Number Input' name='number-input' hint='I only eat numbers' type='number'}}
        {{nop-input class='input-example' label='Email Input' name='email-input' type='email'}}
        {{nop-input class='input-example' label='Date Input' name='date-input' type='date'}}
      </div>
    </section>
    <section>
      {{nop-textarea label='Text Area Input' name='textarea-input' hint='I provide useful hints and stuff'}}
    </section>

    <section>
      <header>
        <h3>Radio Group</h3>
      </header>
      {{nop-radio-group label='What type of activity?' hint='so you can select one of the radio options' options=regulationTypes value=selectedRadio}}
    </section>

    <section>
      <header>
        <h3>Selection</h3>
      </header>
      <div>
        {{nop-select label='Single-select' name='select-input' content=selectOptions}}
        {{nop-select label='Multi-select' name='multi-select-input' content=selectOptions multiple=true}}
      </div>
    </section>
    <section>
      <header>
        <h3>Checkboxes</h3>
      </header>
      <h4>Pick some types with checkboxes</h4>
      <div>
        {{nop-checkbox label='Operation of a facility' name='checkbox-input1' name='selector'}}
        {{nop-checkbox label='Operation of a petroleum pipeline' name='checkbox-input2' name='selector'}}
        {{nop-checkbox label='Disabled' name='checkbox-input3' name='selector' disabled=true}}
        {{nop-checkbox label='Disabled (Checked)' name='checkbox-input4' name='selector' disabled=true checked=true}}
      </div>
    </section>
    <section>
      <header>
        <h3>Buttons</h3>
      </header>
      <button>I'm a regular button!</button>
      <button class="primary">I'm the primary button!</button>
    </section>
    <section>
      <header>
        <h3>Add Another</h3>
      </header>
      {{nop-add-another text='Add another'}}
    </section>
  </section>
</div>
