{{ title 'Living Style Guide' replace=true }}

<div class="styleguide-page">

  <h1>Living Style Guide</h1>

  <section>
    <header>
      <h2>Headings</h2>
    </header>
    <h1>H1. Welcome to the Submissions UI</h1>
    <h2>H2. Welcome to the Submissions UI</h2>
    <h3>H3. Welcome to the Submissions UI</h3>
    <h4>H4. Welcome to the Submissions UI</h4>
    <h5>H5. Welcome to the Submissions UI</h5>
    <h6>H6. Welcome to the Submissions UI</h6>
  </section>

  <section>
    <header>
      <h2>Forms</h2>
    </header>
    <section>
      <header>
        <h3>Text Inputs</h3>
      </header>
      <div>
        {{nop-input class='input-example' label='Text Input' inputId='text-input' required=true}}
        {{nop-input class='input-example' label='Number Input' inputId='number-input' type='number'}}
        {{nop-input class='input-example' label='Email Input' inputId='email-input' type='email'}}
        {{nop-input class='input-example' label='Date Input' inputId='date-input' type='date'}}
      </div>
    </section>
    <section>
      {{nop-textarea label='Text Area Input' inputId='textarea-input' hint='I provide useful hints and stuff'}}
    </section>

    <section>
      <header>
        <h3>Radio Inputs</h3>
      </header>
      <h4>What type of activity?</h4>
      {{! TODO We've lost the semantics of having a list here}}
      <div>
        {{nop-radio label='Petroleum Activity' inputId='radio-input1' name='selector'}}
        {{nop-radio label='Gas Activity' inputId='radio-input2' name='selector'}}
        {{nop-radio label='Disabled' inputId='radio-input3' name='selector' disabled=true}}
        {{nop-radio label='Disabled (Checked)' inputId='radio-input4' name='selector1' disabled=true checked=true}}
      </div>
    </section>

    <section>
      <header>
        <h3>Selection</h3>
      </header>
      <div>
        {{nop-select label='Single-select' inputId='select-input' content=selectOptions}}
        {{nop-select label='Multi-select' inputId='multi-select-input' content=selectOptions multiple=true}}
      </div>
    </section>
    <section>
      <header>
        <h3>Checkboxes</h3>
      </header>
      <h4>Pick some types with checkboxes</h4>
      <div>
        {{nop-checkbox label='Operation of a facility' inputId='checkbox-input1' name='selector'}}
        {{nop-checkbox label='Operation of a petroleum pipeline' inputId='checkbox-input2' name='selector'}}
        {{nop-checkbox label='Disabled' inputId='checkbox-input3' name='selector' disabled=true}}
        {{nop-checkbox label='Disabled (Checked)' inputId='checkbox-input4' name='selector' disabled=true checked=true}}
      </div>
    </section>
    <section>
      <header>
        <h3>Buttons</h3>
      </header>
      <button>I'm a regular button!</button>
      <button class="primary">I'm the primary button!</button>
      <button class="warning">I'm a warning button?</button>
    </section>
  </section>

  <section>
    {{nop-activity-description}}
  </section>

  <section>
    <header>
      <h2>Personal Details</h2>
    </header>
    <section>
      <header>
        <h3>Person submitting this Environment Plan</h3>
      </header>
      <div>
        {{nop-person-details inputId='submitter-details'}}
      </div>
    </section>
  </section>

  <section>
    <header>
      <h2>Titleholder Details</h2>
    </header>
    <section>
      <div>
        {{nop-titleholder-details inputId='titleholder-details'}}
      </div>
    </section>
  </section>
</div>
