{{#nop-page title='Welcome to Online Submissions' class='welcome-page'}}

  <h3>I would like to submit...</h3>

  <section class='ep-section'>
    {{nop-radio label='Environment Plan' value='ep' name='submission-type' checked=submissionType}}
    {{#if submittingEP}}
      <div class='question-section'>
        <p>What type of submission is this?</p>
        <button {{action 'submitEPNew'}}>New</button>
        <button {{action 'unavailableType'}}>Revision</button>
        <button {{action 'unavailableType'}}>Resubmission</button>
      </div>
      {{nop-unavailable visible=unavailable}}
    {{/if}}
  </section>
  <section class='fa-section'>
    {{nop-radio label='Financial Assurance' value='fa' name='submission-type' checked=submissionType}}
    {{#if submittingFA}}
      <div class='question-section'>
        <button {{action 'submitFinancialAssurance'}}>Get started</button>
      </div>
      {{nop-unavailable visible=unavailable}}
    {{/if}}
  </section>
  <section class='opp-section'>
    {{nop-radio label='Offshore Project Proposal' value='opp' name='submission-type' checked=submissionType}}
    {{#if submittingOPP}}
      <div class='question-section'>
        <p>What type of submission is this?</p>
        <button {{action 'unavailableType'}}>New</button>
        <button {{action 'unavailableType'}}>Revision</button>
        <button {{action 'unavailableType'}}>Resubmission</button>
      </div>
      {{nop-unavailable visible=unavailable}}
    {{/if}}
  </section>
  <section class='privacy-notice'>
    <h3>Privacy notice</h3>
    <p>
      NOPSEMA collects your personal information if it is necessary to contact you for the purpose of performing functions or
      exercising powers under the Offshore Petroleum and Greenhouse Gas Storage Act 2006, the Offshore Petroleum and Greenhouse
      Gas Storage (Regulatory Levies) Act 2009 and associated regulations. Failure to provide personal information may result
      in NOPSEMA being unable to properly administer these laws.
    </p>
    <p>
      NOPSEMA will not use or disclose your personal information for any other purpose without your consent, unless:
    </p>
    <ul class="bullets">
      <li>NOPSEMA uses or discloses it in relation to its enforcement activities</li>
      <li>certain permitted situations exist under the Privacy Act 1988</li>
      <li>use or disclosure is required or authorised by another Australian law</li>
    </ul>
    <p>
      In some circumstances, your personal information may be disclosed to the following organisations, entities, or individuals:
    </p>
    <ul class="bullets">
      <li>individuals who make a request under the Freedom of Information Act 1982</li>
      <li>the Australian National Audit Office and other privately-appointed auditors</li>
      <li>other law enforcement bodies (e.g. police or coroner)</li>
      <li>NOPSEMA’s legal advisors</li>
    </ul>
    <p>
      NOPSEMA may occasionally be required to disclose information to overseas recipients in order to discharge its functions
      or exercise its powers, or to perform its necessary business activities.
    </p>
    <p>
      Further information about how you can access, or seek correction to, your personal information is contained in NOPSEMA’s
      APP Privacy Policy at <a href='http://www.nopsema.gov.au/privacy'>nopsema.gov.au/privacy</a>. If you have an enquiry or a complaint about your privacy, please contact
      NOPSEMA’s Privacy Officer on 08 6188 8700 or by email at <a href='mailto:privacy@nopsema.gov.au'>privacy@nopsema.gov.au</a>.
    </p>
  </section>
{{/nop-page}}
